<form action="/add-question" method="POST">
   <h1>Add a new Question</h1>
   QNo :  <input type="text"  name="QNo" placeholder="Add a  Question No"><br><br>
   Question : <input type="text" name="Question"  placeholder="Add a Question"><br><br>
   Options for the question:<br>
   Option1 : <input type="text" name="Options" placeholder="Add  option1"><br><br>
   option2 : <input type="text" name="Options" placeholder="Add  option2"><br><br>
   option3 : <input type="text" name="Options" placeholder="Add  option3"><br><br>
   option4 : <input type="text" name="Options" placeholder="Add  option4"><br><br>
   Correct Answer :  <input type="text" name="correctAnswer"  placeholder="Enter correct Answer "><br><br>
   <button>Save</button>
</form>